# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  [push, pull_request]

# permissions restricted by default
permissions:
      contents: read

jobs:
  build:

    strategy:
      fail-fast: false
      matrix:
        version: [25]
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    
    env:
      DISPLAY: ":99.0"

    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK ${{ matrix.version }}
      uses: actions/setup-java@v5
      with:
        java-version: ${{ matrix.version }}
        distribution: 'temurin'


    # Configure Gradle for optimal use in GitHub Actions, including caching of downloaded dependencies.
    # See: https://github.com/gradle/actions/blob/main/setup-gradle/README.md
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
      with:
        gradle-version: '9.3.1'

    - name: Build with Gradle
      run: |
        if [ "$RUNNER_OS" == "Linux" ]; then
          sudo apt-get update
          sudo apt-get install -y xvfb
          xvfb-run --auto-servernum gradle build
        else
          gradle build
        fi

    - name: Test Report
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: test-report-${{ matrix.os }}-${{ matrix.version }}
        path: app/build/reports/tests


